.conteiner{
    padding:10px;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.salvar{
    background-color: green;
    color:#fff;
    border:none;
    width: 150px;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px;}
    